// Colors
$primary: #7781FF;
$secondary: lightgrey;
$white: #F5F5F5; 
$black: #000;

// Heights
$footer-header-height: 50px;
$input-height: 35px;

// Timing
$fast: .3s;

// Forms
$radius-message: 5px;
$radius-inputs: 15px;
$circle: 50%;
