html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;

  #root {
    @include flex(layout);

    main {
      flex: 1;
      min-height: em(200);
    }
    
    footer {
      @include flex(center);
  
      height: $footer-height;
      width: 100%;
    }
  }
}
