@import '../../sass/variables/variables';
@import '../../sass/mixins/index';

.header {
  background-color: rgba($primary, .85);
  
  &__brand {
    @include font-size-em(20);

    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  &__copy {
    @include font-size-em(14);
    
    color: $white;

    span {
      display: none;
      
      @media (min-width: $sm) {
        display: inline;
      }
    }
    
    a {
      color: rgba($white, .85);
      text-decoration: none;
      
      &:hover {
        color: $white;
      }
    }
  }
}