@mixin flex($pos) {
  display: flex;
  
  @if $pos == 'center' {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  @if $pos == 'layout' {
    flex-direction: column;
    align-items: stretch;
  }
}
