html,
body,
#root {
  height: 100%;
}

body {
  background-color: $white;
  font-family: 'Muli', sans-serif;

  #root {
    @include flex(column, flex-start, stretch);

    header {
      @include flex(column, center, center);
      
      height: $footer-header-height;
    }

    main {
      @include flex(row, center, center);
      flex: 1;
      min-height: em(200);
    }
    
    footer {
      @include flex(column, center, center);
      @include font-size-em(14);
  
      height: $footer-header-height;
      width: 100%;
    }
  }
}
